:root {
  --button-size: clamp(40px, 30px + 2.8vw ,60px);
  --page-margin: clamp(15px, 15px + 2vw, 40px);
}

/* || General Styles */
html,body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html * {
  box-sizing: inherit;
}

button, select, textarea {
  border: 0;
  outline: 0;
  font: inherit;
}

button {
  box-shadow: 0px 3px 2px rgba(0,0,0,0.5);
  width: var(--button-size);
  height: var(--button-size);
  border-radius: 50%;
  background-color: #366577;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

button img {
  width: 80%;
  height: 80%;
}

button:hover {
  background-color: #2e5869;
  box-shadow: inset 0px 4px 4px rgba(0,0,0,0.5);
}

h1,h2,h3,h4 {
  margin: 0;
  padding: 0;
}

/* || SITEWIDE */
html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html::-webkit-scrollbar-track:hover {
  background-color: rgba(0,0,0,0.1);
}
html::-webkit-scrollbar-thumb {
  background-color: #969696;
  border-radius: 30px;
}

body {
  background-image: url("../assets/timer-background.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: var(--page-margin);
  width: 100vw;
  height: 100vh;
}

header {
  grid-row: 1;
}

main {
  grid-row: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: fit-content;
  justify-self: center;
}


footer {
  grid-row: 3;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}


/* || Typography */
h1 {
  font-weight: 800;
  font-size: 2rem;
  line-height: 100%;
}

/* || Header */
header {
  color: #024057;
}

@media (max-width: 1024px) {
  header {
    display: flex;
    justify-content: center;
  }
  
  header h1 {
    display: block;
  }
}

/* || Main content */
/* Timer App */
#timer-app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#timer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
}


/* Dialog */
.dialog {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: hidden;
}

.dialog-content {
  padding: 1rem;
  border: 2px solid black;
  background-color: #FFFCF4;
  width: 60vw;
}

#timer-settings-close, #timer-settings-save {
  display: inline;
  padding: 0.5rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}