/* || Font Loading */
/* <--------------------------------------------------------------------------------------------> */
/** Montserrat ExtraBold **/
@font-face {
    font-family: "Montserrat";
    font-weight: 800;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-ExtraBold.otf") format('opentype');
}

/** Montserrat Medium **/
@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Medium.otf") format('opentype');
}

/** Montserrat Regular **/
@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/Montserrat/Montserrat-Regular.otf") format('opentype');
}

/** Montserrat Light **/
@font-face {
    font-family: "Montserrat";
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/Montserrat//Montserrat-Light.otf") format('opentype');
}

* { 
  font-family: "Montserrat";
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background: url("../assets/timer-background.jpg") center 20% / 120% no-repeat, #A6D5DF;
  text-align: center;
  justify-content: center;
}

header {
  text-align: left;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  /* identical to box height */

  letter-spacing: 0.3em;

  color: #024057;
}


/* Default button attributes */
button {
  border: 0;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 /*  font-family: "Montserrat";
  font-style: normal; */

  transition: background 250ms ease-in-out,
                transform 150ms ease;
  transition: box-shadow 250ms ease-in-out, transform 150ms ease;

}

button:hover {
  box-shadow: inset 1px 4px 4px rgba(0, 0, 0, 0.6);
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
}

/* TODO: Make everything below fill up the screen without overflowing 
 * (might be because of vw/vh issues)
 */

.dialog {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.2);
}

.dialog-content {
  padding: 1rem;
  border: 2px solid black;
  background: #FFFCF4;
}
.wrapper {
  margin: 40px;
}
/* || Timer Splash */
/* <--------------------------------------------------------------------------------------------> */
#timer-splash {
  z-index: 1;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #FFFCF4;
}

#timer-splash h1 {
  font-size: 180px;
  font-weight: 800;
  line-height: auto;
  letter-spacing: 0.2em;

  color: #024057;
  text-shadow: 0px 8px 10px rgba(0, 0, 0, 0.35);
}

#timer-splash-button {
  width: 248px;
  height: 68px;

  font-weight: 500;
  font-size: 40px;
  line-height: auto;
  letter-spacing: 0.05em;

  background: #0F7490;
  border-radius: 30px;

  color: #EBF7FD;
}

#timer-splash-button:hover {
  background: #116880;
  border-radius: 30px;
}

/* TODO: Style timer app */
/* <--------------------------------------------------------------------------------------------> */
#timer-app {
  display: flex;
  flex-direction: column;
}
#timer-text {
  margin: 125px 0;
  letter-spacing: 0.025em;
  font-weight: 800;

  font-size: 150px;
  text-align: center;
  font-feature-settings: "tnum" 1;

  color: #024057;

  text-shadow: 0px 3px 4px rgba(0, 0, 0, 0.5);
}
#timer-button {
  /* TODO: change width and height to relative units */
  width: 177.35px;
  height: 63.34px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px; 

  background: #FFFCF4;
  box-shadow: 0px 4px 4px #000000;
  border-radius: 30px;
}

#timer-button:hover {
  box-shadow: inset 0px 4px 4px rgba(0,0,0,0.5);
}


/* Footer buttons */
/* <--------------------------------------------------------------------------------------------> */
#timer-settings-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;

  background: #366577;
}

#timer-reset-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;

  background: #366577;
}

/* Progress Bar  */
/* <--------------------------------------------------------------------------------------------> */
#progress-bar-container {
  margin-top: 200px;
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  min-width: 500px;
 /*  border: 1px solid black; */
}

div.progress-step {
  position: relative;
}

div.progress-step label {
  position: absolute;
  right: 0;
  left: -1em;
  bottom: -30px;
  white-space:  nowrap;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  color: #BFE4EC;
}

progress::-webkit-progress-bar {
  background-color: #BDE1E9;
  box-shadow: inset 0px 2px 1px rgba(0, 0, 0, 0.25);
}

progress[value]::-webkit-progress-value {
  background-color: #243D51;
  border-radius: 1px;
}

#progress-bar-container progress {
  height: 4px;
  margin: auto 0px;
}


#progress-bar-container li {
  margin: auto;
  font-size: 0;
  line-height: 0;
  letter-spacing: 0;

  width: 40px;
  height: 40px;
  background-color: #BDE1E9;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50%;

}

/* Sessions Remaining counter */
#timer-info-sessions-remaining {
  font-family: inherit;
  font-style: inherit;
  font-weight: 800;
  font-size: 20px;
  letter-spacing: 0.05em;

  color: #7DBAC8;
}

/* || Footer Buttons */
/* <--------------------------------------------------------------------------------------------> */
footer {
  position: relative;
}
#task-button {
  position: absolute;
  left: 0px;
}

#timer-settings-button {
  position: absolute;
  right: 0px;
}
