#task-name-input {
    border-radius: 25px;
    width: 20em;
}

#task-list-component {
    border: 1px solid black;
}
#task-list {
    visibility: hidden;
    position: absolute;
}
#task-pomo-estimate-input {
    width:2em;
}

.single-task {
    display: block;
}
.single-task * {
    display: inline-block;
}
.single-task input[type="text"] {
   width: 20em; 
}

.single-task input[type="number"]{
    width: 2em;
}
#task-button {
    height: 60px;
    width: 60px;
    background-color: #366577;
    border-radius: 50%;
}
#task-add-button{
    border-radius: 10px;
    height: 25px;
    background-color: green;
}

.task-edit-button {
    background-color: green;
}

.task-save-button {
    background-color: green;
}

