body {
  margin: 0;
  padding: 0;
}

/* TODO: Make everything below fill up the screen without overflowing 
 * (might be because of vw/vh issues)
 */

.dialog {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.2);
}

.dialog-content {
  padding: 1rem;
  border: 2px solid black;
  background-color: #FFFCF4;
}

#timer-splash {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #FFFCF4;
}